body{
    margin:0;

  
  }
  .fundo{
    background-color: black;
    position: fixed;
    width: 100%;
  }
  
  
  

  .menu-principal-navegação{
    display: flex;
    position: relative;
    height: 20vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
  }
  
  li{
    list-style-type: none;
    
  }
  
  ul{
    display: flex;
    
  }
  
  a{
    text-decoration: none;
    color: white;
    padding: 10px 50px;
  }
  
  
  .logo-sem-fundo{
    width: 10vw; 
    height: 19vh;
    
  
  }
  
  
  
  
  
  
  
  
  